/*MARGEM E ESPAÇAMENTO [0 DE 4]*/

fieldset {
    padding-top: ;
    padding-left: ;
    padding-bottom: ;
    padding-right: ;

    distância utilizada para espaçamento nos quatro quadrantes
}